* {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
}
/* Header section */
header{
    height: 90px;
    display: flex;
    justify-content: center;
}
header .wrapper{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .wrapper .nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .wrapper .nav-container img{
    width: 110px;
}

header .wrapper ul{
    margin-left: 15rem;
    display: flex;
}
header .wrapper ul li{
    margin-right: 3rem;
    font-weight: 500;
}
header .wrapper ul li a{
    font-weight: 500;
    color: #000;
}
header .wrapper ul li a:hover{
    color: #39DB4A;
}
header .wrapper .btn{
    padding: 5px 20px;
    background-color: #39DB4A;
    color: #fff;
    border-radius: 30px;
}
header .wrapper .btn:hover{
    background-color: #5aeb68;
}
/* Hero section */

.hero{
    display: flex;
    justify-content: center;
}

.hero .wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.hero .wrapper .left h1{
    font-size: 54px;
    font-weight: 800;
}
.hero .wrapper .left span{
    font-size: 54px;
    font-weight: 800;
    color: #39DB4A;
    font-family: "Permanent Marker", cursive;
}
.hero .wrapper .left p{
    font-size: 15px;
    color: #6f6d6d;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.hero .wrapper .left a{
    padding: 5px 20px;
    background-color: #39DB4A;
    color: #fff;
    border-radius: 30px;
}
.hero .wrapper .left a:hover{
    background-color: #5aeb68;
}

.hero .wrapper .right img{
    width: 500px;
}
/* catagories section */
.catagory{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catagory .wrapper{
    width: 90%;
    margin-top: 40px;
}
.catagory .wrapper .text{
    margin-left: 38rem;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #f44545;
}
.catagory .wrapper h1{
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.card-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 13rem;
    margin-left: 50px;
}
.card-container .card{
    width: 200px;
    height: 200px;
    border-radius: 35px;
    box-shadow: 1px 1px 35px 2px rgba(0, 0, 0, 0.09);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card-container .card .card-img{
    background-color: #C1F1C6;
    padding: 13px 3px;
    border-radius: 50%;
}
.card-container .card .card-img img{
    width: 100px;
}
.card-container .card h3{
    margin-top: 5px;
    font-size: 17px;
    font-weight: 500;
}

.card-container .card span{
    font-size: 14px;
    color: #6f6d6d;
}

/* Dishes section */
.dishes{
    margin-top: 6rem;
    
}
.dishes .wrapper{
    width: 90%;
    margin-top: 40px;
}
.dishes .wrapper .dish-text{
    margin-left: 18rem;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #f44545;
}
.dishes .wrapper h1{
    margin-top: 30px;
    margin-left: 18rem;
    text-align: start;
    font-size: 40px;
    font-weight: 600;
}
.dishes .card-dishes{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 13rem;
    margin-left: 65px;
}
.dishes .card-dishes .card{
    width: 250px;
    height: 250px;
    border-radius: 35px;
    box-shadow: 1px 1px 35px 2px rgba(0, 0, 0, 0.09);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.dishes .card-dishes .card img{
    width: 150px;
}
.dishes .card-dishes .card h3{
    font-size: 16px;
    font-weight: 600;
}.dishes .card-dishes .card .dish-span{
    font-size: 13px;
    font-weight: 400;
}

/* About section */
.about{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.about .wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}
.about .wrapper .left img{
    width: 300px;
}
.about .wrapper .right span{
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #f44545;
    
}
.about .wrapper .right h1{
    margin-top: 29px;
    text-align: start;
    font-size: 43px;
    font-weight: 700;
    line-height: 3.5rem;
}
.about .wrapper .right p{
    margin-top: 29px;
    color: #6f6d6d;
    line-height: 1.5rem;
}